:root {--tm-blue: #03283b; --tm-orange: #ff6434; }
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
h1{
    color: var(--tm-orange);
    font-weight: bold;
}
table.style {
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
}
table.style th{
    border: 1px solid lightgray;
}
table.style td{
    border: 1px solid lightgray;
}
tr{
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
caption {
    caption-side: bottom;
    font-size: small;
    padding: 5px;
}
#foto {
    width: 150px;
}
.nadruk {
    font-weight: bold;
}
.font {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: var(--tm-orange);
    color: white;
    font-size: 32px;
  }
